body{
  background-color: beige;
}

#primeros{
  background-color: black;
  color: white;
}

#blancos{
  background-color: white;
  color: black;
}

#negros{
  background-color: black;
  color: white;
}
